---
import Cards_Frida from "../components/cards_frida.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Cards_Frida image="møbelhjælper.webp" rolle="Møbel <br/> hjælper" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
</style>
