---
import Cards_Frida from "../components/cards_frida.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Cards_Frida image="møbelhjælper.webp" rolle="Møbel- <br/> hjælper" />
    <Cards_Frida image="yoga.webp" rolle="Yoga" oneWord />
    <Cards_Frida image="aktivitetsklubber.webp" rolle="Aktivitets- <br/> klubber" />
    <Cards_Frida image="massage.webp" rolle="Massage" oneWord />
    <Cards_Frida image="økonomi.webp" rolle="Økonomi- <br/> rådgivning" />
    <Cards_Frida image="ledelse.webp" rolle="Ledelse" oneWord />
    <Cards_Frida image="peer-to-peer.webp" rolle="Peer-to-peer" oneWord />
    <Cards_Frida image="madklubber.webp" rolle="Sociale <br/> madklubber" />
    <Cards_Frida image="netværksvenner.webp" rolle="Netværks- <br/> venner" />
    <Cards_Frida image="lgbt.webp" rolle="Lgbt+ <br/> venner" />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
</style>
