---
import Cards_Frida from "../components/cards_frida.astro";
import Double from "../components/double.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import Footer1 from "../components/footer1.astro";
import SignupForm from "../components/SignupForm.astro";
---

<Layout>
  <main>
    <Cards_Frida
      image="møbelhjælper.webp"
      rolle="Møbel- <br/> hjælper"
      rolle1="Møbelhjælper"
      mainText=" <span> Bolig er <span/> første skridt ud af hjemløshed - men et hjem kræver mere end fire vægge. WeShelters møbelhjælp indsamler møbler og boligudstyr til hjemløse, der flytter i egen bolig. Indsaml og transporter møbler fra donorer til hjemløse, hjælp med flytninger og lagerstyring og skab tryghed og stabilitet for mennesker i en ny start."
      du="- Er stabil, tålmodig og klar til at koordinere <br/> - Er aktiv på Facebook for at opspore møbeldonationer <br/> - Har lyst til at arbejde sammen med andre frivillige"
      viTilbyder="-	Et meningsfuldt frivilligjob med konkret impact <br/> - Et stærkt fællesskab og løbende sparring <br/> - Fyraftensmøder og indsigt i socialt arbejde <br/> - Dokumentation for dit frivillige arbejde efter et år"
      tid="Du kan afsætte et par timer om måneden (varierer efter behov)"
      hvor="Storkøbenhavn"
    />
    <Cards_Frida
      image="yoga.webp"
      rolle="Yoga"
      rolle1="Yoga"
      oneWord
      mainText="Vil du bruge din yogafaglighed til at gøre en forskel? WeShelter søger frivillige yogaundervisere til at tilbyde yoga for hjemløse og psykisk sårbare på vores herberger og væresteder. <br/> Yoga skaber et frirum, fremmer kropsbevidsthed og mental sundhed for en sårbar målgruppe. Du får introduktion, oplæring og løbende kurser i frivilligledelse."
      du="- Har en yogafaglig uddannelse  <br/> - Er omsorgsfuld og opsøgende"
      viTilbyder="-	Fagrelevant frivilligt arbejde med meningsfuld effekt <br/> - Fællesskab med engagerede frivillige <br/>- Indsigt i socialt arbejde <br/>- Introkursus, løbende sparring og dokumentation for dit frivillige arbejde."
      tid="1-2 timer hver/hver anden uge + du kan være frivillig i min. 6 måneder"
      hvor="Kontakt Karina Bisgaard-Frantzen for at høre hvor: kbf@weshelter.dk / +45 23 43 21 06"
    />
    <div class="onefr">
      <Double
        image="aktivitetsklubber.webp"
        rolle="Aktivitets- <br/> klubber"
        rolle1="Aktivitetsklubber Østerbro"
        rolle2="Aktivitetsklub rusmiddelbehandling"
        class="wide-card"
        mainText="Vil du give unge hjemløse på herberget Sporsløjfen gode oplevelser og fællesskab gennem sociale aktiviteter? <br/> Som frivillig deltager du i en fast gruppe, der mødes mandage kl. 17-20 og laver aktiviteter som spil, sport, biografture eller museumsture. En gang i kvartalet arrangeres større udflugter som Tivoli eller go-kart."
        du="-	Er fyldt 25 år og robust i mødet med sårbare unge <br/>-	Er stabil, tålmodig og udadvendt <br/>-	Deltager i introkursus og netværksmøder "
        viTilbyder="-	Et meningsfuldt frivilligjob med unikke oplevelser <br/>-	Introduktionskursus og faglig sparring <br/>-	Et stærkt fællesskab med andre frivillige <br/>-	Dokumentation for dit engagement efter et år"
        tid="Fast mandage kl. 17-20 i min. et halvt år"
        hvor="Østerbro"
        mainText2="Vil du være med til at skabe fællesskab og gode oplevelser for mennesker, der tager skridtet ud af rusmidler? <br/>Som frivillig mødes du ugentligt med en fast gruppe og deltager i aktiviteter som cafébesøg, museums- og naturture. Formålet er at støtte brugerne i at deltage i sociale aktiviteter uden for stofbrugsmiljøet."
        du2="-	Er stabil, tålmodig og møder brugerne i øjenhøjde -	Ønsker at samarbejde med frivillige og personale <br/> - Du har tid til at deltage fast i min. 6 måneder"
        viTilbyder2="-	Et meningsfuldt frivilligjob med socialt fællesskab <br/>-	Indsigt i socialt arbejde og misbrugsbehandling <br/>-	Introkursus, løbende sparring og netværksmøder <br/>-	Dokumentation for dit frivillige arbejde"
        tid2="Torsdage kl. 13 og tirsdage kl. 12"
        hvor2="Dagcenter Stæren, Rusmiddelbehandling Vigerslev Allé"
      />
    </div>
    <Cards_Frida
      image="massage.webp"
      rolle="Massage"
      rolle1="Massage"
      oneWord
      mainText="Har du en massage- eller afspændingsfaglig uddannelse? Vil du gøre en forskel for mennesker i hjemløshed eller social udsathed? <br/>Som frivillig massør i WeShelter hjælper du med at skabe ro, lindre spændinger og styrke kropsbevidsthed hos nogle af samfundets mest udsatte"
      du="- Har en massage- eller afspændingsfaglig uddannelse <br/> - Har lyst til at arbejde med menneser i socialt udsatte positioner <br/>- Er mødestabil, robust og god til at sætte grænser <br/>-	Vil deltage i 4 årlige netværksmøder og opkvalificerende kurser"
      viTilbyder="-	Et spændende og meningsfuldt frivilligt arbejde <br/>- Faglig sparring, interne kurser og netværk med andre massører <br/>- Indsigt i en socialt udsat verden og livsbekræftende oplevelser <br/>- Kursusbeviser og en anbefaling fra WeShelter"
      tid="Du kan afsætte 2-3 timer hver 14. dag"
      hvor="Flere steder i Storkøbenhavn"
    />
    <Cards_Frida
      image="økonomi.webp"
      rolle="Økonomi- <br/> rådgivning"
      rolle1="Økonomirådgivning"
      mainText="Har du erfaring med økonomi, jura eller socialret? Vil du gøre en forskel for mennesker i hjemløshed? <br/> Som frivillig økonomirådgiver i WeShelter hjælper du udsatte borgere med at skabe overblik over deres økonomi, få styr på gæld og lægge realistiske budgetter. <br/> Som økonomirådgiver skaber du tryghed og handlemuligheder for mennesker i udsathed. Rådgivningen bygger på tillid, empowerment og praktisk støtte - altid i samarbejde med den rådsøgende."
      du="-	Har en uddannelse og erhvervserfaring inden for økonomi, jura, socialret eller lignende <br/>- Møder mennesker med respekt og tager udgangspunkt i deres ønsker"
      viTilbyder="-	Meningsfuldt frivilligt arbejde, der gør en konkret forskel <br/> - Oplæring, faglig sparring og et stærkt frivilligfællesskab <br/> - En fast makker, du står aldrig alene med en opgave <br/>- Indsigt i socialt arbejde og en verden, der udvider din horisont"
      tid="Du kan afsætte 2 timer hver anden uge"
      hvor="Storkøbenhavn"
    />
    <Cards_Frida
      image="ledelse.webp"
      rolle="Aktivitets- <br/> ledelse"
      rolle1="Aktivitetsledelse"
      mainText="Weshelter leder lige nu efter frivillige aktivitetsledere, som vil være med til at understøtte drift, kvalitet og udvikling i vores sociale madklubber. Er du mon den, vi leder efter?"
      du="- Brænder for frivilligledelse, planlægning og projektudvikling <br/> - Vil du være med til at gøre en kæmpe forskel for mennesker i hjemløshed og udsatte"
      viTilbyder="Send os en ansøgning på frivillig@weshelter.dk eller skriv for at høre mere"
      tid="Skriv til os for at høre nærmere"
      hvor="Storkøbenhavn"
    />
    <Cards_Frida
      image="peer-to-peer.webp"
      rolle="Peer-to-peer"
      rolle1="Peer-to-peer"
      oneWord
      mainText="Drømmen om et liv i egen bolig kan virke fjern og uopnåelig, når man lever i hjemløshed, og knapt kan overskue en dag ad gangen. <br/><br/> I vores netværksindsats, peer-to-peer, deler tidligere hjemløse deres erfaringer med nuværende hjemløse. De personlige beretninger giver håb om et bedre liv - og konkrete handlemuligheder, som den hjemløse kan bruge på vejen ud af hjemløsheden."
      du="- Har erfaring med hjemløshed <br/> - Har du lyst til at gøre en forskel for andre, der står i en vanskelig situation"
      viTilbyder="Kontakt Emilie Gad for at høre mere eg@weshelter.dk / +45 24 98 30 09"
      tid="Skriv til os for at høre nærmere"
      hvor="Storkøbenhavn"
    />
    <div class="onefr">
      <Double
        image="madklubber.webp"
        rolle="Sociale <br/> madklubber"
        class="wide-card"
        rolle1="Social madklub"
        rolle2="Under åben himmel"
        class="wide-card"
        mainText="Vil du være med til at bekæmpe ensomhed gennem fællesskab og madlavning? <br/>I WeShelters madklubber laver frivillige og brugere/beboere mad sammen på herberger, væresteder og i Offsides Sociale Haver. Formålet er ikke kun at lave mad, men at skabe fællesskab gennem måltidet."
        du="- Behøver ingen særlige madkundskaber <br/> -	Er moden, stabil og social"
        viTilbyder="-	Et meningsfuldt fællesskab <br/>-	Introduktionskursus og løbende sparring <br/> -	Dokumentation for dit frivillige arbejde"
        tid="Du har tid til at deltage hver anden uge i ca. 3 timer og kan forpligte dig til minimum ét år"
        hvor="Madklubberne afholdes forskellige steder i København"
        mainText2="Vil du være med til at bekæmpe ensomhed og skabe fællesskab gennem madlavning i det fri? <br/> WeShelter starter en udendørs madklub i Offsides Sociale Haver, et fristed for psykisk sårbare og socialt udsatte. Her samles vi omkring madlavning i naturen og skaber trygge fællesskaber."
        du2="- Er social, udadvendt og rummelig <br/>-	Kan lide at lave mad og være ude i al slags vejr"
        viTilbyder2="-	Et meningsfuldt frivilligjob med socialt fællesskab <br/>-	Indsigt i socialt arbejde og misbrugsbehandling <br/>-	Introkursus, løbende sparring og netværksmøder <br/>-	Dokumentation for dit frivillige arbejde"
        tid2="Torsdage kl. 13 og tirsdage kl. 12"
        hvor2="Dagcenter Stæren, Rusmiddelbehandling Vigerslev Allé"
      />
    </div>

    <Cards_Frida
      image="netværksvenner.webp"
      rolle="Netværks- <br/> venner"
      rolle1="Netværksvenner"
      mainText="Vil du være en stabil støtte for en person, der oplever ensomhed? <br/> Som netværksven hjælper du mennesker i hjemløshed eller social udsathed med at opbygge nye relationer og blive en del af fællesskaber."
      du="-	Er tillidsvækkende, rummelig og god til at skabe relationer <br/> - Har overskud og mod til at møde et menneske med en anden baggrund end din egen"
      viTilbyder="- Et meningsfuldt frivilligjob, hvor du bryder social isolation <br/>- Billetter til kulturoplevelser, som du kan bruge med din netværksven <br/>- Introkursus, netværksmøder og faglig sparring <br/>-	Et stærkt fællesskab med engagerede frivillige og sociale arrangementer"
      tid="Du kan afsætte tid til at mødes ca. to gange om måneden i min. et år"
      hvor="I planlægger selv, hvad I vil lave - om det er en kop kaffe, en tur i biografen eller en gåtur. WeShelter støtter jer hele vejen."
    />
    <Cards_Frida
      image="lgbt.webp"
      rolle="Lgbt+ <br/> venner"
      rolle1="LGBT+ venner"
      mainText="Er du en del af LGBT+ miljøet og vil du støtte LGBT+ personer, der oplever ensomhed eller psykisk mistrivsel? <br/> Som frivillig i LGBT+ Venner er du med til at skabe positive relationer og styrke mental sundhed for en sårbar målgruppe."
      du="- Identificerer dig som LGBT+ og vil støtte andre i miljøet <br/> - Er god til at skabe relationer, tålmodig og stabil"
      viTilbyder="-	Et meningsfuldt frivilligjob, hvor du gør en forskel <br/>- Kurser og netværksmøder om udsathed, psykisk trivsel og konflikthåndtering <br/> - Løbende sparring og støtte fra WeShelter <br/>- Fællesskab med engagerede frivillige og gode oplevelser"
      tid="Du kan afsætte 1-2 timer ca. to gange om måneden. Vi ser gerne, at du kan engagere dig i min. et år – relationer tager tid at opbygge."
      hvor="Storkøbenhavn"
    />
  </main>
  <SignupForm />
  <Footer />
  <Footer1 />
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1100px;
    margin: auto;
    gap: 1em;
    padding: 1rem;
  }

  .onefr {
    display: grid;
  }

  @media (min-width: 700px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .onefr {
      grid-column: span 2;
    }
  }
</style>
