---
import { initFlipCards } from "../scripts/js";
const { VilDuTekst, rolle, image } = Astro.props;
const { oneWord } = Astro.props;
---

<div class="card-container">
  <div class="card">
    <div class="card-face card-front" style={`background-image: url(${image});`}>
      <h2 class={oneWord && "oneWord"} set:html={rolle} />
      <!-- Tillader HTML-tags i props -->
      <a href="#">Klik her for at læse mere &#8594;</a>
    </div>
    <div class="card-face card-back">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quaerat veritatis, in voluptates velit, debitis quis quo, minus officiis quisquam odit autem magni! Fugit repellat saepe vitae optio. Facilis, illum? Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Architecto mollitia reprehenderit distinctio cum repudiandae corporis quidem facere quasi similique aut quo consequatur fugiat perferendis eius, dolor ad illum asperiores dicta? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Aliquid voluptatibus officiis, praesentium, modi magnam ratione commodi laudantium illo facilis fugit non velit a harum omnis possimus ullam aliquam. Explicabo, accusamus!
      </p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, dicta sed quasi error, necessitatibus quas omnis provident, fugit aut ab ducimus sequi eveniet culpa beatae earum ex distinctio. Corporis, ex.</p>
    </div>
  </div>
</div>
<script>
  import { initFlipCards } from "../scripts/js";
  initFlipCards();
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  h2 {
    font-family: Inter;
    margin-top: 17.2rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    font-size: 38px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 15px;
    margin-left: 0.5rem;
    color: #0167ff;
    font-family: Inter;
    font-weight: 400;
  }

  .card-container {
    perspective: 1000px;
    display: inline-block;
  }

  .card {
    margin: 10px auto;
    max-width: 90%;
    width: 100vw;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4); /* Højre og ned, 15px slør, 20% gennemsigtig sort */
  }

  .card.flipped {
    transform: rotateY(180deg);
    min-height: 400px; /* Juster denne værdi efter behov */
  }

  /* Sikrer, at kun én side vises ad gangen */
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 10px;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .card-front {
    background-size: cover;
    background-position: center;
  }

  .card-back {
    background-color: #fe902c;
    transform: rotateY(180deg);
    color: white;
  }

  .oneWord {
    margin-top: 20.2rem;
  }
</style>
