<article>
  <h1>Støt økonomisk</h1>
  <p><span>Økonomisk støtte</span> til hjemløse er en investering i håb, værdighed og en chance for et bedre liv.</p>
  <a href="#">STØT NU</a>
</article>

<style>
  article {
    background-color: #0167ff;
    text-align: center;
    color: white;
    background-image: url(../public/weshelter2.webp);
    background-repeat: no-repeat;
    background-position: -0.5rem 14rem;
    padding: 2rem 0 14rem;
  }
  span {
    color: #fe902c;
  }
  h1 {
    font-size: clamp(1.5rem, 4vw, 2rem); /* Minimum 1.5rem, skalerer med viewport, maks 2.5rem */
  }
  p {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  h1,
  a {
    text-transform: uppercase;
  }
  a {
    padding: 0.7rem 1.7rem;
    background-color: #fe902c;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-top: 10rem;
  }

  @media (width >=650px) {
    article {
      background-position: -0.5rem 7rem;
      padding: 1rem 0 8rem;
      background-size: 30%;
    }
  }
  @media (width >=900px) {
    article {
      background-position: -0.5rem 1rem;
      padding: 1rem 0 6rem;
      background-size: 30%;
      padding: 1rem 0 2rem 18rem;
    }
  }
</style>
