<article>
  <h1>Støt økonomisk</h1>
  <p><span>Økonomisk støtte</span> til hjemløse er en investering i håb, værdighed og en chance for et bedre liv.</p>
  <a href="#">STØT NU</a>
</article>

<style>
  article {
    background-color: #0167ff;
    text-align: center;
    color: white;
    background-image: url(../public/weshelter2.webp);
    background-repeat: no-repeat;
    background-position: 2rem;
    padding-bottom: 11rem;
  }
  span {
    color: #fe902c;
  }
  h1,
  a {
    text-transform: uppercase;
  }
  a {
    padding: 0.7rem 1.7rem;
    background-color: #fe902c;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-top: 10rem;
  }
</style>
