<article>
  <h1>Fonden Missionen blandt Hjemløse</h1>
  <p>Vi arbejder for at give hjemløse og udsatte bedre vilkår. Målet er at gøre op med hjemløshed, ensomhed og psykisk mistrivsel. Arbejdet sker på herberger, væresteder og i frivillige indsatser.</p>
  <h2>Genveje</h2>
  <h3>Hjem</h3>
  <h3>Om os</h3>
  <h3>Vores indsatser</h3>
  <h3>Kontakt</h3>
  <h2>Kontakt os</h2>
  <p>
    Slotsgade 2, 1. sal <br />2200 København N
  </p>
  <p>Tlf: 36161113 <br />E-mail: kontakt@weshelter.dk <br />CVR 8096515</p>
</article>

<style>
  article {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
  }
  h3 {
    font-weight: normal;
    font-size: 16px;
  }
  h2 {
    padding-top: 2rem;
  }
</style>
