<header>
  <nav>
    <div class="logo"><p>WeShelter</p></div>

    <div class="menu">
      <button class="støt_btn">Støt</button>

      <label for="burger-toggle" class="burger-menu">&#9776;</label>
      <input type="checkbox" id="burger-toggle" class="burger-toggle" />
      <ul class="menu_list">
        <li><a href="">Få hjælp</a></li>
        <li><a href="">Bliv frivillig</a></li>
        <li><a href="">Om</a></li>
        <li><a href="">Kontakt</a></li>
      </ul>
    </div>
  </nav>
  <section class="hero">
    <div>
      <h1>“At være <span class="frivillig">frivillig</span> er at gøre en forskel – for andre og for dig selv.”</h1>
    </div>
    <div class="venner">
      <img src="/public/weshelter.webp" alt="" />
    </div>
    <div class="buttons">
      <button class="frivillig_btn">Bliv frivillig</button>

      <div>
        <a class="facebook" href="https://www.facebook.com/WeShelter"><img src="/public/Facebooklogo.png" /></a>
        <a class="instagram" href="https://www.instagram.com/weshelter/"><img src="/public/Instalogo.png" /></a>
      </div>
    </div>
  </section>
</header>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  * {
    font-family: Inter;
    color: white;
  }

  p {
    font-weight: 600;
    padding-left: 5%;
    font-size: 1.1rem;
  }

  h1 {
    font-weight: 600;
    padding: 2%;
    padding-left: 3%;
    max-width: 280px;
  }

  .frivillig {
    color: #fe902c;
  }

  header {
    background-color: #0167ff;
    width: 100%;
    height: 260px;
  }

  .venner {
    position: relative;
  }

  .venner img {
    position: absolute;
    width: 130px;
    right: 0.7rem;
    bottom: -2rem;
    z-index: 0;
  }

  /* BURGER MENU  */
  .burger-menu {
    cursor: pointer;
    font-size: 35px;
    color: white;
  }

  .burger-toggle {
    display: none;
  }

  .burger-toggle:checked ~ .menu_list {
    display: block;
  }

  .menu_list {
    display: none;
    position: absolute;
    background-color: white;
    color: #0167ff;
    z-index: 100;
    text-align: center;
    top: 40px;
    width: 100%;
  }

  .menu_list a:hover {
    color: #fe902c;
  }

  a {
    text-decoration: none;
    color: #0167ff;
  }

  ul {
    list-style-type: none;
  }

  li {
    padding: 5px;
  }

  /********************/

  /* KNAPPER */
  button {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }

  .støt_btn {
    background-color: #fe902c;
    border-radius: 70px;
    padding: 0rem 1.5rem;
    transition: transform 0.3s ease-in-out;
  }

  .støt_btn:hover {
    transform: scale(1.1); /* Gør knappen 10% større */
  }

  .buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frivillig_btn {
    background-color: white;
    color: #0167ff;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
  }

  .buttons div {
    position: absolute;
    top: -65%;
    right: 2%;
    display: flex;
    flex-direction: column;
  }

  /********************/
  /* NAV */
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
    gap: 10px;
  }

  /* INSTA/FB */

  .instagram img,
  .facebook img {
    width: 30px;
  }
</style>
